<form class="col-md-6" style="width:400px" #adminForm=ngForm (ngSubmit)="onSubmit(adminForm.value)">
    <div>
        <legend class="col-form-legend">Upload E-mail</legend>
    </div>
    <div class="form-group required">
        <label for="project" class='control-label'>Choose project</label>
        <select class="form-control" name="project" id="project" required="true" placeholder="Choose project"ngModel>
            <option *ngFor="let item of allProjectId" [value]=item>{{item}}</option>
        </select>
    </div>

    <div class='form-group required'>
        <label for="reported_date" class='control-label'>Reported date</label>
        <input type="date" name='DATE' id='reported_date' class="form-control col-md-4" required ngModel/>
    </div><br><br>

    <div class='form-group required'>
        <label for="selectFile" class="control-label">Upload File :</label>
        <input type="file" name='TEXT' accept=".msg, .txt" id="selectFile" class="btn btn success form-control" multiple required
            ngModel/>
    </div><br>
    <button md-button md-dialog-close class="btn btn-dafault pull-left" >Cancel</button>
    
    <button md-button md-dialog-close class="btn btn-primary pull-right" (click)="onSubmit(adminForm.value)">Submit</button>
</form>          

<!-- <legend _ngcontent-c7="" class="col-form-legend" display="block">Upload E-mail<button _ngcontent-c7="" md-button="" md-dialog-close="" class="btn btn-link" style="float:right;text-decoration:none;color:black " ng-reflect-dialog-result="" aria-label="Close dialog">X</button></legend> -->