<nav class="navbar navbar-default navbar-fixed-top mat-app-background">
    <div class="container" style="
                padding-left: 0px;
                padding-right: 0px;
            ">
        <div class="navbar-header">

            <img src="../assets/img/logo.png">
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="img">
                    <button type="button" class="btn btn-default col-md-12" (click)="loadForm()"><img src="../assets/img/upload.png" style="margin-right:6px;;margin-top: 5px"/>
                                    <span style="font-weight:bold">Upload Email</span></button>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome Vijesh<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- <li><a href="#">Change Password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Setting</a></li> -->
                        <!-- <li role="separator" class="divider"></li> -->
                        <li><a [routerLink]="['/']">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>
<div class="clear"></div>
<div class="filters">
    <div class="container" style="padding-left: 0px;padding-right: 0px;">
        <div style="color:white;float:left;font-size: 24px;margin-top: 20px;margin-bottom: 10px;line-height: 1.1;font-weight: 500;">CSAT Dashboard </div>
        <a routerlink="/home" style="font-size: 20px;margin-top: 20px;margin-bottom: 10px;line-height: 1.1;font-weight: 500 ;float:right;color:white;text-decoration:none;cursor: pointer;">HOME</a>    </div>
</div>

<div class="content">
    <div class="container" [hidden]="inProject">
        <div class="row">
            <div class="col-md-6 tile-style">
                <div class="hd-bar">
                    <h3>
                        <img src="../../assets/img/2.png" alt="">
                        <span>{{level}}</span>

                    </h3>
                    <select class="select" style="width:110px;" style="width:110px;" [(ngModel)]="filter" (ngModelChange)="onFilter($event)">
                        <option value="quarter">Last Quarter</option>
                        <option value="month">Last Month</option>
                        <!-- <option>Filter By Week</option> -->
                      </select>
                    <!-- <select class="selectpicker" [(ngModel)]="entityType" (ngModelChange)="onChange($event)">  *ngIf="disableBtnHome"
                          <option *ngFor="let entity of entities" [ngValue]="entity" >{{entity}}</option>                        
                      </select> -->
                    <button type="button" class="btn btn-default" (click)="goBack()" style="margin: 0 ;float:right" *ngIf="disableBtn"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back</button>
                    <div class="icons">
                        <!-- <input class="expand" (click)="openDialog(chartType)" type="image" src="../../assets/img/icon.png" style="margin-right:10px;" -->
                        <!-- <img src="../assets/img/3.png"> -->
                    </div>

                </div>
                <div class="chart" id="chart">
                    <!-- <iframe src="bar-chart.html" style="border:none; width:100%; height:200px;"></iframe> -->
                    <app-pichart (clickedView)="clickedView($event)" [obj]="obj"></app-pichart>
                </div>

            </div>
            <div class="col-md-6 tile-style" style="margin:0px;">
                <div class="hd-bar">
                    <h3>
                        <img src="../assets/img/2.png" alt="">
                        <span>{{levelFbString}}</span>

                    </h3>
                    <!-- <select class="select" style="width:124px;">
                                        <option>Filter By Week</option>
                                        <option>Filter By Month</option>
                                        <option>Filter By Quarter</option>
                                    </select> -->
                    <button type="button" class="btn btn-default" (click)="goBackToFeedBack()" style="margin: 0;float:right" *ngIf="disableBtnForFb"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back</button>

                    <div class="icons">
                        <!-- <input class="expand" (click)="openDialog(donutVar)" type="image" src="../assets/img/icon.png" style="margin-right:10px;" /> -->
                        <!-- <button md-button (click)="openDialog()"><img src="../assets/img/icon.png" style="margin-right:10px;"></button> -->
                        <!-- <img src="../assets/img/3.png"> -->
                    </div>

                </div>
                <div class="chart">
                    <app-stackedbar [objBar]="objBar" (clickedOnFbType)="clickedOnFbType()"></app-stackedbar>
                </div>
            </div>
        </div>
    </div>
    <div class="container" [hidden]="notInProject">
        <div class="row">
            <div class="col-md-12 tile-style" style="margin:0">
                <div class="hd-bar">
                    <h3>
                        <img src="../../assets/img/2.png" alt="">
                        <span>{{level}}</span>

                    </h3>

                    <button type="button" class="btn btn-default" (click)="goBackToDU()" style="margin: 0 ;float:right" *ngIf="disableBtnDu"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back</button>
                    <div class="icons">

                    </div>

                </div>
                <div class="chart" id="chart">
                    <app-linechart [objDu]="objDu"></app-linechart>
                </div>

            </div>
        </div>
    </div>
    <div class="container" style="margin-top:15px;">
        <div class="row">
            <div class="col-md-12 tile-style" style="margin:0">
                <app-statusreport [objStatus]="objStatus"></app-statusreport>
            </div>

        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                © 2017 Persistent Systems
            </div>
        </div>
    </div>

</footer>